*{
    margin:0;
    padding:0;
}
.main-container{
    width:100vw;
    height: 100vh;
    background-image: url("./static/hero-bg.webp") ;
    background-size: cover;
}
.content-container{
    width:1280px;
    margin:0 auto;
}
.logo{
    width:32px;
}
.nav-container{
    padding:20px;
    justify-content: space-between;
}
.nav-container, .nav-left, .nav-right{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
}
li{
    display: flex;
    margin:0 9px;
}
.nav-links{
    display:flex;
    flex-flow: row nowrap;
    color:white;
    list-style-type: none;
    padding:0 20px;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
.expand-icon{
    width:20px;

}
